.data {
  padding: 0 35px;
  padding-bottom: 50px;
}

.data__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 19px;
  line-height: 23px;
  text-align: center;
  font-weight: 300;
}

.data__list {
  @include reset-list();
  margin: 0;
  padding: 0;
}

.data__item {
  position: relative;
  margin-bottom: 50px;
  padding-top: 125px;
  padding-bottom: 25px;

  font-size: 16px;
  line-height: 25px;
  color: #a3a5a7;
  text-align: center;

  border-bottom: 1px solid #2b2f37;
  background-repeat: no-repeat;
  background-position: center top;

  &--api {
    background-image: url("../img/data/api.png");
  }

  &--1c {
    background-image: url("../img/data/1c.png");
  }

  &:last-child {
    margin-bottom: 0;

    border-bottom: none;
  }
}

.data__btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

@media #{$tablet-width} {
  .data {
    width: 750px;
    margin: 0 auto;
    padding: 85px 0;

    background-repeat: no-repeat;
    background-position: left 133px, right 168px;
    background-image: url("../img/data/left-bg.png"), url("../img/data/right-bg.png");
  }

  .data__title {
    margin-bottom: 86px;

    font-size: 30px;
    line-height: 45px;
  }

  .data__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .data__item {
    position: relative;

    width: 50%;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    
    border-bottom: none;

    &--1c {
      background-position-y: 23px;
    }
  }

  .data__btn {
    margin-top: 60px;
  }

  .data__item:nth-child(odd) {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;

      width: 1px;
      height: 214px;

      background-color: #2b2f37;
    }
  }
}


@media #{$desktop-width} {
  .data {
    width: 1170px;
  }

  .data__item {
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 40px;
  }
}