.intro {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.intro__left,
.intro__right {
  display: none;
}

.intro__img {
  display: block;
  width: 129px;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.intro__title {
  position: relative;

  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 10px;

  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;

  &::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    content: '';
    display: block;
    width: 40px;
    height: 1px;

    background-color: #2b3035;
  }
}

.intro__text {
  position: relative;

  display: block;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;

  font-size: 14px;
  color: #9fa1a3;

  &::before {
    position: relative;
    left: -10px;
    bottom: 0;

    content: '';
    display: inline-block;
    width: 27px;
    height: 26px;

    background: url("../img/icon-cscart.png") no-repeat;
  }
}

.intro__mockup {
  display: block;
  width: 290px;
  height: 154px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.intro__description {
  margin: 0;
  margin-bottom: 22px;

  font-size: 12px;
  color: #a3a5a7;
}

.intro__btn {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;

    height: 1px;

    background-color: #2b3035;
  }
}

@media #{$tablet-width} {
  .intro {
    width: 720px;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 30px;
    line-height: 42px;
  }

  .intro__description {
    font-size: 20px;
    line-height: 30px;
  }

  .intro__mockup {
    width: 745px;
    height: 395px;
  }

  .intro__btn {
    font-size: 16px;
  }
}

@media #{$desktop-width} {
  .intro {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: auto;
  }

  .intro__left,
  .intro__right {
    display: block;
    font-size: 16px;
    color: #818181;
  }

  .intro__left p,
  .intro__right p {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
  }

  .intro__left {
    width: 100px;
    transform: rotate(180deg);
    writing-mode: tb-rl;
  }

  .intro__left p {
    border-left: 1px solid #1d2128;
  }

  .intro__right p {
    border-right: 1px solid #1d2128;
  }

  .intro__right  {
    width: 100px;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
  }

  .intro__wrapper {
    width: 750px;
  }
}